<article>
    <div class="post-heading">
        <h3>{{this.title}}</h3>
            <p>Posted by {{user.username}} on {{format_date this.created_at}}</p>
    </div>
    <div class="post-body">
        <p>{{this.post_content}}</p>
    </div>
    <div class="post-comments">
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length }}</a>
    </div>
</article>