<article>
    <div class="post-heading">
        <h3>{{this.title}}</h3>
            <p>{{user.username}} on {{this.created_at}}</p>
    </div>
    <div class="post-body">
        <p>{{this.post_content}}</p>
    </div>
    <div>
        <a href="/post/{{id}}">{{post.comments.length}} comment(s) </a>
    </div>
</article>